---
http_interactions:
- request:
    method: get
    uri: https://developers.zomato.com/api/v2.1/search?cuisines=55&entity_type=zone&lat=30.2&lon=97.7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - "<ZOMATO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results_found":193044,"results_start":0,"results_shown":20,"restaurants":[{"restaurant":{"R":{"has_menu_status":{"delivery":-1,"takeaway":-1},"res_id":18483714},"apikey":"<ZOMATO_API_KEY>","id":"18483714","name":"Fratini
        La Trattoria","url":"https:\/\/www.zomato.com\/singapore\/fratini-la-trattoria-bukit-timah?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","location":{"address":"10
        Greenwood Avenue, Hillcrest Park 289201","locality":"Hillcrest, Bukit Timah","city":"Singapore","city_id":52,"latitude":"1.3311283969","longitude":"103.8070809380","zipcode":"289201","country_id":184,"locality_verbose":"Hillcrest,
        Bukit Timah, Singapore"},"switch_to_order_menu":0,"cuisines":"Italian","timings":"Closed
        (Mon),12 Noon to 1:45 PM, 6 PM to 8:45 PM (Tue-Sun)","average_cost_for_two":100,"price_range":4,"currency":"$","highlights":["Cash","Debit
        Card","Dinner","Credit Card","Lunch","Outdoor Seating","Air Conditioned","Wine","Indoor
        Seating","Private Dining Area Available","Table booking recommended"],"offers":[],"opentable_support":0,"is_zomato_book_res":0,"mezzo_provider":"QUANDOO","is_book_form_web_view":0,"book_form_web_view_url":"","thumb":"https:\/\/b.zmtcdn.com\/data\/res_imagery\/18483714_RESTAURANT_b16cb57cbef9ee338344162ec3d7bef9.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A","user_rating":{"aggregate_rating":"3.9","rating_text":"Good","rating_color":"9ACD32","rating_obj":{"title":{"text":"3.9"},"bg_color":{"type":"lime","tint":"600"}},"votes":"31"},"all_reviews_count":23,"photos_url":"https:\/\/www.zomato.com\/singapore\/fratini-la-trattoria-bukit-timah\/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop","photo_count":592,"menu_url":"https:\/\/www.zomato.com\/singapore\/fratini-la-trattoria-bukit-timah\/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop","featured_image":"https:\/\/b.zmtcdn.com\/data\/res_imagery\/18483714_RESTAURANT_b16cb57cbef9ee338344162ec3d7bef9.jpg?output-format=webp","medio_provider":"","has_online_delivery":0,"is_delivering_now":0,"store_type":"","include_bogo_offers":true,"deeplink":"zomato:\/\/restaurant\/18483714","is_table_reservation_supported":0,"has_table_booking":1,"book_url":"https:\/\/www.zomato.com\/singapore\/fratini-la-trattoria-bukit-timah\/book?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","events_url":"https:\/\/www.zomato.com\/singapore\/fratini-la-trattoria-bukit-timah\/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","phone_numbers":"64682868","all_reviews":{"reviews":[{"review":[]},{"review":[]},{"review":[]},{"review":[]},{"review":[]}]},"establishment":["Casual
        Dining"],"establishment_types":[]}},{"restaurant":{"R":{"has_menu_status":{"delivery":-1,"takeaway":-1},"res_id":18483658},"apikey":"<ZOMATO_API_KEY>","id":"18483658","name":"Basilico","url":"https:\/\/www.zomato.com\/singapore\/basilico-orchard?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","location":{"address":"1
        Cuscaden Road, Level 2 Regent Singapore 249715","locality":"Orchard Spring
        Lane, Orchard","city":"Singapore","city_id":52,"latitude":"1.3045768973","longitude":"103.8248773590","zipcod[...]
