---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=seattle,wa&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Seattle, WA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Seattle",
                       "short_name" : "Seattle",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "King County",
                       "short_name" : "King County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "WA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Seattle, WA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 47.734145,
                          "lng" : -122.2244331
                       },
                       "southwest" : {
                          "lat" : 47.4919119,
                          "lng" : -122.4596959
                       }
                    },
                    "location" : {
                       "lat" : 47.6062095,
                       "lng" : -122.3320708
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 47.734145,
                          "lng" : -122.2244331
                       },
                       "southwest" : {
                          "lat" : 47.4919119,
                          "lng" : -122.4596959
                       }
                    }
                 },
                 "place_id" : "ChIJVTPokywQkFQRmtVEaUZlJRA",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 16:48:30 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OWEATHER_API_KEY>&exclude=minutely&lat=47.6062095&lon=-122.3320708&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.61,"lon":-122.33,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1591634696,"sunrise":1591618332,"sunset":1591675504,"temp":56.44,"feels_like":48.79,"pressure":1022,"humidity":58,"dew_point":41.86,"uvi":6.78,"clouds":75,"visibility":16093,"wind_speed":10.29,"wind_deg":210,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1591632000,"temp":56.44,"feels_like":51.1,"pressure":1022,"humidity":58,"dew_point":41.86,"clouds":75,"wind_speed":6.2,"wind_deg":219,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},{"dt":1591635600,"temp":54.72,"feels_like":50.47,"pressure":1022,"humidity":65,"dew_point":43.2,"clouds":87,"wind_speed":4.76,"wind_deg":227,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591639200,"temp":54.86,"feels_like":51.26,"pressure":1022,"humidity":66,"dew_point":43.74,"clouds":94,"wind_speed":3.83,"wind_deg":238,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591642800,"temp":57.69,"feels_like":53.78,"pressure":1021,"humidity":58,"dew_point":43.03,"clouds":97,"wind_speed":4.09,"wind_deg":227,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591646400,"temp":59.7,"feels_like":55.02,"pressure":1021,"humidity":54,"dew_point":43.05,"clouds":99,"wind_speed":5.46,"wind_deg":215,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.18}},{"dt":1591650000,"temp":60.96,"feels_like":54.81,"pressure":1021,"humidity":50,"dew_point":42.66,"clouds":99,"wind_speed":7.76,"wind_deg":230,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.18}},{"dt":1591653600,"temp":60.4,"feels_like":54.75,"pressure":1021,"humidity":52,"dew_point":43.2,"clouds":99,"wind_speed":7.07,"wind_deg":250,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.[...]
[...]
