---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=seattle,wa&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Seattle, WA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Seattle",
                       "short_name" : "Seattle",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "King County",
                       "short_name" : "King County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "WA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Seattle, WA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 47.734145,
                          "lng" : -122.2244331
                       },
                       "southwest" : {
                          "lat" : 47.4919119,
                          "lng" : -122.4596959
                       }
                    },
                    "location" : {
                       "lat" : 47.6062095,
                       "lng" : -122.3320708
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 47.734145,
                          "lng" : -122.2244331
                       },
                       "southwest" : {
                          "lat" : 47.4919119,
                          "lng" : -122.4596959
                       }
                    }
                 },
                 "place_id" : "ChIJVTPokywQkFQRmtVEaUZlJRA",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 16:51:34 GMT
- request:
    method: get
    uri: https://developers.zomato.com/api/v2.1/cuisines?city_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - "<ZOMATO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cuisines":[{"cuisine":{"cuisine_id":1035,"cuisine_name":"Afghan"}},{"cuisine":{"cuisine_id":152,"cuisine_name":"African"}},{"cuisine":{"cuisine_id":1,"cuisine_name":"American"}},{"cuisine":{"cuisine_id":2,"cuisine_name":"Andhra"}},{"cuisine":{"cuisine_id":4,"cuisine_name":"Arabian"}},{"cuisine":{"cuisine_id":175,"cuisine_name":"Armenian"}},{"cuisine":{"cuisine_id":3,"cuisine_name":"Asian"}},{"cuisine":{"cuisine_id":165,"cuisine_name":"Assamese"}},{"cuisine":{"cuisine_id":292,"cuisine_name":"Awadhi"}},{"cuisine":{"cuisine_id":193,"cuisine_name":"BBQ"}[...]
- request:
    method: get
    uri: https://developers.zomato.com/api/v2.1/search?cuisines=67&entity_type=zone&lat=47.6062095&lon=-122.3320708
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - "<ZOMATO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results_found":112,"results_start":0,"results_shown":20,"restaurants":[{"restaurant":{"R":{"has_menu_status":{"delivery":-1,"takeaway":-1},"res_id":16728253},"apikey":"<ZOMATO_API_KEY>","id":"16728253","name":"Revel","url":"https:\/\/www.zomato.com\/seattle\/revel-fremont?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","location":{"address":"403
        North 36th Street, Seattle 98103","locality":"Fremont","city":"Seattle","city_id":279,"latitude":"47.6522155000","longitude":"-122.3543657000","zipcode":"98103","country_id":216,"locality_verbose":"Fremont,
        Seattle"},"switch_to_order_menu":0,"cuisines":"Korean, Fusion","timings":"11
        AM to 2 PM, 5 PM to 10 PM (Mon-Thu),11 AM to 2 PM, 5 PM to 11 PM (Fri),10
        AM to 2 PM, 5 PM to 11 PM (Sat),10 AM to 2 PM, 5 PM to 10 PM (Sun)","average_cost_for_two":50,"price_range":2,"currency":"$","highlights":["Credit
        Card","Lunch","Serves Alcohol","Takeaway Available","Dinner","Outdoor Seating","Disabled
        Friendly","Brunch","Private Parking","Indoor Seating","Fullbar","Street Parking"],"offers":[],"opentable_support":0,"is_zomato_book_res":0,"mezzo_provider":"OTHER","is_book_form_web_view":0,"book_form_web_view_url":"","book_again_url":"","thumb":"https:\/\/b.zmtcdn.com\/data\/res_imagery\/16728253_CHAIN_27af6d038636a5e4bb854ad64d149de8_c.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A","user_rating":{"aggregate_rating":"4.5","rating_text":"Excellent","rating_color":"3F7E00","rating_obj":{"title":{"text":"4.5"},"bg_color":{"type":"lime","tint":"700"}},"votes":"642"},"all_reviews_count":83,"photos_url":"https:\/\/www.zomato.com\/seattle\/revel-fremont\/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop","photo_count":721,"menu_url":"https:\/\/www.zomato.com\/seattle\/revel-fremont\/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop","featured_image":"https:\/\/b.zmtcdn.com\/data\/res_imagery\/16728253_CHAIN_27af6d038636a5e4bb854ad64d149de8_c.jpg","has_online_delivery":0,"is_delivering_now":0,"store_type":"","include_bogo_offers":true,"deeplink":"zomato:\/\/restaurant\/16728253","is_table_reservation_supported":0,"has_table_booking":0,"events_url":"https:\/\/www.zomato.com\/seattle\/revel-fremont\/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","phone_numbers":"(206)
        547-2040","all_reviews":{"reviews":[{"review":[]},{"review":[]},{"review":[]},{"review":[]},{"review":[]}]},"establishment":["Casual
        Dining"],"establishment_types":[]}},{"restaurant":{"R":{"has_menu_status":{"delivery":-1,"takeaway":-1},"res_id":16728489},"apikey":"<ZOMATO_API_KEY>","id":"16728489","name":"Marination
        Station","url":"https:\/\/www.zomato.com\/seattle\/marination-station-capitol-hill?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","location":{"address":"1412
        Harvard Avenue, Seattle 98122","locality":"Capitol Hill","city":"Seattle","city_id":279,"latitude":"47.6137388889","longitude":"-122.3212055556","zipcode":"98[...]
[...]
