---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Pueblo,CO&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Pueblo",
                       "short_name" : "Pueblo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Pueblo County",
                       "short_name" : "Pueblo County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Pueblo, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 38.345385,
                          "lng" : -104.460868
                       },
                       "southwest" : {
                          "lat" : 38.1891058,
                          "lng" : -104.7208689
                       }
                    },
                    "location" : {
                       "lat" : 38.2544472,
                       "lng" : -104.6091409
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.345385,
                          "lng" : -104.460868
                       },
                       "southwest" : {
                          "lat" : 38.1891058,
                          "lng" : -104.7208689
                       }
                    }
                 },
                 "place_id" : "ChIJZbEbB_OiE4cRLrjHaKNrLag",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 09 Jun 2020 17:30:02 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OWEATHER_API_KEY>&exclude=minutely&lat=38.2544472&lon=-104.6091409&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.25,"lon":-104.61,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1591723802,"sunrise":1591702492,"sunset":1591755660,"temp":53.51,"feels_like":34.23,"pressure":1017,"humidity":58,"dew_point":39.11,"uvi":9.52,"clouds":90,"visibility":16093,"wind_speed":29.97,"wind_deg":360,"wind_gust":47.2,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1591722000,"temp":53.51,"feels_like":41.22,"pressure":1017,"humidity":58,"dew_point":39.11,"clouds":90,"wind_speed":17.58,"wind_deg":15,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591725600,"temp":55.58,"feels_like":46.04,"pressure":1016,"humidity":50,"dew_point":37.26,"clouds":95,"wind_speed":12.08,"wind_deg":3,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591729200,"temp":58.75,[...]
[...]
