---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=sydney,australia&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Sydney
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Sydney",
                       "short_name" : "Sydney",
                       "types" : [ "colloquial_area", "locality", "political" ]
                    },
                    {
                       "long_name" : "New South Wales",
                       "short_name" : "NSW",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Australia",
                       "short_name" : "AU",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Sydney NSW, Australia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -33.5781409,
                          "lng" : 151.3430209
                       },
                       "southwest" : {
                          "lat" : -34.118347,
                          "lng" : 150.5209286
                       }
                    },
                    "location" : {
                       "lat" : -33.8688197,
                       "lng" : 151.2092955
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.5781409,
                          "lng" : 151.3430209
                       },
                       "southwest" : {
                          "lat" : -34.118347,
                          "lng" : 150.5209286
                       }
                    }
                 },
                 "place_id" : "ChIJP3Sa8ziYEmsRUKgyFmh9AQM",
                 "types" : [ "colloquial_area", "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 05:30:36 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OWEATHER_API_KEY>&exclude=minutely&lat=-33.8688197&lon=151.2092955&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":-33.87,"lon":151.21,"timezone":"Australia/Sydney","timezone_offset":36000,"current":{"dt":1591594236,"sunrise":1591563332,"sunset":1591599188,"temp":60.01,"feels_like":49.91,"pressure":1028,"humidity":77,"dew_point":52.79,"uvi":2.31,"clouds":40,"visibility":10000,"wind_speed":19.46,"wind_deg":190,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"rain":{}},"hourly":[{"dt":1591592400,"temp":60.01,"feels_like":50.92,"pressure":1028,"humidity":77,"dew_point":52.79,"clouds":40,"wind_speed":17.67,"wind_deg":190,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},{"dt":1591596000,"temp":59.4,"feels_like":50.52,"pressure":1028,"humidity":78,"dew_point":52.54,"clouds":54,"wind_speed":17.16,"wind_deg":193,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.21}},{"dt":159159960[...]
