---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=seattle,wa&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Seattle, WA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Seattle",
                       "short_name" : "Seattle",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "King County",
                       "short_name" : "King County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "WA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Seattle, WA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 47.734145,
                          "lng" : -122.2244331
                       },
                       "southwest" : {
                          "lat" : 47.4919119,
                          "lng" : -122.4596959
                       }
                    },
                    "location" : {
                       "lat" : 47.6062095,
                       "lng" : -122.3320708
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 47.734145,
                          "lng" : -122.2244331
                       },
                       "southwest" : {
                          "lat" : 47.4919119,
                          "lng" : -122.4596959
                       }
                    }
                 },
                 "place_id" : "ChIJVTPokywQkFQRmtVEaUZlJRA",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 05:20:56 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OWEATHER_API_KEY>&exclude=minutely&lat=47.6062095&lon=-122.3320708&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.61,"lon":-122.33,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1591593656,"sunrise":1591531952,"sunset":1591589061,"temp":55.44,"feels_like":48.58,"pressure":1018,"humidity":62,"dew_point":42.66,"uvi":6.78,"clouds":90,"visibility":16093,"wind_speed":9.17,"wind_deg":170,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1591592400,"temp":55.44,"feels_like":50.47,"pressure":1018,"humidity":62,"dew_point":42.66,"clouds":90,"wind_speed":5.82,"wind_deg":119,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},{"dt":1591596000,"temp":52.61,"feels_like":47.43,"pressure":1018,"humidity":73,"dew_point":44.22,"clouds":76,"wind_speed":6.8,"wind_deg":145,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},{"dt":1591599600,"temp":50.81,"f[...]
