---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=anchorage&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Anchorage",
                       "short_name" : "Anchorage",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Anchorage",
                       "short_name" : "Anchorage",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Alaska",
                       "short_name" : "AK",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Anchorage, AK, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 61.48393789999999,
                          "lng" : -148.4600069
                       },
                       "southwest" : {
                          "lat" : 60.733791,
                          "lng" : -150.4206149
                       }
                    },
                    "location" : {
                       "lat" : 61.2180556,
                       "lng" : -149.9002778
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 61.48393789999999,
                          "lng" : -148.4600069
                       },
                       "southwest" : {
                          "lat" : 60.733791,
                          "lng" : -150.4206149
                       }
                    }
                 },
                 "place_id" : "ChIJQT-zBHaRyFYR42iEp1q6fSU",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 05:28:30 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OWEATHER_API_KEY>&exclude=minutely&lat=61.2180556&lon=-149.9002778&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":61.22,"lon":-149.9,"timezone":"America/Anchorage","timezone_offset":-28800,"current":{"dt":1591594110,"sunrise":1591532791,"sunset":1591601458,"temp":52.75,"feels_like":46.74,"pressure":1008,"humidity":71,"dew_point":43.63,"uvi":4.51,"clouds":75,"visibility":16093,"wind_speed":8.05,"wind_deg":180,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"},{"id":211,"main":"Thunderstorm","description":"thunderstorm","icon":"11d"}],"rain":{"1h":0.51}},"hourly":[{"dt":1591592400,"temp":52.75,"feels_like":48.38,"pressure":1008,"humidity":71,"dew_point":43.63,"clouds":75,"wind_speed":5.14,"wind_deg":212,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},{"dt":1591596000,"temp":52.77,"feels_like":49.05,"pressure":1008,"humidity":73,"dew_point":44.37,"clouds":66,"wind_speed":4.29,"wind_deg":229,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},{"dt":1591599600,"temp":50.76,"fe[...]
