---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=atlanta%20georgia&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Atlanta, GA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Atlanta",
                       "short_name" : "Atlanta",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Fulton County",
                       "short_name" : "Fulton County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Georgia",
                       "short_name" : "GA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Atlanta, GA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 33.8876179,
                          "lng" : -84.289389
                       },
                       "southwest" : {
                          "lat" : 33.6478079,
                          "lng" : -84.5518189
                       }
                    },
                    "location" : {
                       "lat" : 33.7489954,
                       "lng" : -84.3879824
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 33.8876179,
                          "lng" : -84.289389
                       },
                       "southwest" : {
                          "lat" : 33.6478079,
                          "lng" : -84.5518189
                       }
                    }
                 },
                 "place_id" : "ChIJjQmTaV0E9YgRC2MLmS_e_mY",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 05:25:09 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OWEATHER_API_KEY>&exclude=minutely&lat=33.7489954&lon=-84.3879824&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.75,"lon":-84.39,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1591593909,"sunrise":1591612003,"sunset":1591663619,"temp":75.61,"feels_like":79.74,"pressure":1014,"humidity":78,"dew_point":68.27,"uvi":12.59,"clouds":40,"visibility":16093,"wind_speed":4.7,"wind_deg":80,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1591592400,"temp":75.61,"feels_like":78.35,"pressure":1014,"humidity":78,"dew_point":68.27,"clouds":40,"wind_speed":7.16,"wind_deg":136,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},{"dt":1591596000,"temp":75.6,"feels_like":78.75,"pressure":1014,"humidity":81,"dew_point":69.35,"clouds":69,"wind_speed":7.38,"wind_deg":150,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},{"dt":1591599600,"temp":75.25,"[...]
