---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?page=1&per_page=10&query=Austin,%20TX%20location&utm_campaign=api-credit&utm_medium=referral&utm_source=sweater-weather
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLASH_ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?page=281&per_page=10&query=Austin%2C+TX+location&utm_campaign=api-credit&utm_medium=referral&utm_source=sweater-weather>;
        rel="last", <https://api.unsplash.com/search/photos?page=2&per_page=10&query=Austin%2C+TX+location&utm_campaign=api-credit&utm_medium=referral&utm_source=sweater-weather>;
        rel="next"
      X-Total:
      - '2804'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2804,"total_pages":281,"results":[{"id":"zjrAEvnynm8","created_at":"2018-03-13T10:13:56-04:00","updated_at":"2020-06-07T01:08:47-04:00","promoted_at":null,"width":2847,"height":2135,"color":"#050709","description":"Downtown
        view over the water from Lou Neff point of Lady Bird Hike and Bike Trail.","alt_description":"people
        riding paddle boards on the lake","urls":{"raw":"https://images.unsplash.com/photo-1520950237264-dfe336995c34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE0MDY1OX0","full":"https://images.unsplash.com/photo-1520950237264-dfe336995c34?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0MDY1OX0","regular":"https://images.unsplash.com/photo-1520950237264-dfe336995c34?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MDY1OX0","small":"https://images.unsplash.com/photo-1520950237264-dfe336995c34?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0MDY1OX0","thumb":"https://images.unsplash.com/photo-1520950237264-dfe336995c34?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE0MDY1OX0"},"links":{"self":"https://api.unsplash.com/photos/zjrAEvnynm8","html":"https://unsplash.com/photos/zjrAEvnynm8","download":"https://unsplash.com/photos/zjrAEvnynm8/download","download_location":"https://api.unsplash.com/photos/zjrAEvnynm8/download"},"categories":[],"likes":100,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"itnZ7bqvlRg","updated_at":"2020-04-18T08:19:54-04:00","username":"tombag","name":"Tomek
        Baginski","first_name":"Tomek","last_name":"Baginski","twitter_username":"tomekbag","portfolio_url":null,"bio":null,"location":"Austin,
        TX","links":{"self":"https://api.unsplash.com/users/tombag","html":"https://unsplash.com/@tombag","photos":"https://api.unsplash.com/users/tombag/photos","likes":"https://api.unsplash.com/users/tombag/likes","portfolio":"https://api.unsplash.com/users/tombag/portfolio","following":"https://api.unsplash.com/users/tombag/following","followers":"https://api.unsplash.com/users/tombag/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1539705181934-5790828fb547?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1539705181934-5790828fb547?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1539705181934-5790828fb547?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"tombag","total_collections":9,"total_likes":24,"total_photos":106,"accepted_tos":true},"tags":[{"type":"search","title":"austin"},{"type":"landing_page","title":"summer","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"},"subcategory":{"slug":"summer","pretty_slug":"Summer"}},"title":"Summer
        Images & Pictures","subtitle":"Download free summer images","description":"Choose
        from a curated selection of summer photos. Always free on Unsplash.","meta_title":"Best
        Summer Pictures [HD] | Download Free Images on Unsplash","meta_description":"Choose
        from hundreds of free summer pictures. Download HD summer photos for free
        on Unsplash.","cover_photo":{"id":"_MdUz-1Ofsg","created_at":"2018-11-27T03:23:20-05:00","updated_at":"2020-05-07T01:05:57-04:00","promoted_at":null,"width":2916,"height":3888,"color":"#2E2F32","description":null,"alt_description":"coconut
        trees under blue sky during daytime","urls":{"raw":"https://images.unsplash.com/photo-1543306983-a562d8739781?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1543306983-a562d8739781?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://images.unsplash.com/[...]
